;;  -*- emacs-lisp -*-
;; cwyang's Emacs setting 
;; 2018.02.18
;;

;; Added by Package.el.  This must come before configurations of
;; installed packages.  Don't delete this line.  If you don't want it,
;; just comment it out by adding a semicolon to the start of the line.
;; You may delete these explanatory comments.
(package-initialize)

(when (not package-archive-contents)
  (package-refresh-contents))

(setq inhibit-splash-screen t)
(global-font-lock-mode 1)

(add-to-list 'load-path "~/emacs/")
(add-to-list 'load-path "~/emacs/color-theme-6.6.0")

(add-to-list 'exec-path "/usr/local/bin")
(setenv (concat "/usr/local/bin" (getenv "PATH")))

(or (getenv "TERM") (setenv "TERM" "n/a"))
(or (getenv "HANGUL_KEYBOARD_TYPE") (setenv "HANGUL_KEYBOARD_TYPE" "3f"))

;; melpa
(require 'package)
(custom-set-variables
 ;; custom-set-variables was added by Custom.
 ;; If you edit it by hand, you could mess it up, so be careful.
 ;; Your init file should contain only one such instance.
 ;; If there is more than one, they won't work right.
 '(column-number-mode t)
 '(custom-safe-themes
   '("342430928281420b19ffe6a87dadf902db11bf6055d92ee25c5695560113062e" "870c32f255246983e2577bdb93a5a8676f922b3caf43e88a7b1d47b066c7be09" "4a9f829d554ec72227c2de650a8a6b57e6682acd078a315553a505e0a954e296" default))
 '(haskell-interactive-prompt "\\> ")
 '(haskell-process-type 'ghci)
 '(package-archives
   '(("gnu" . "http://elpa.gnu.org/packages/")
     ("melpa" . "http://melpa.org/packages/")))
 '(package-selected-packages
   '(paredit mic-paren racer cargo flycheck-rust rust-mode python-black flycheck-pycheckers flycheck-pyflakes elpy poetry xcscope cmake-mode go-eldoc yasnippet company-lsp lsp-ui go-guru go-mode haskell-mode markdown-mode))
 '(python-black-extra-args '("-S"))
 '(python-shell-exec-path '("/home/cwyang/local/bin"))
 '(python-shell-interpreter "python3")
 '(tool-bar-mode nil))
; (1) M-x package-refresh-contents
; (2) M-x package-install RET haskell-mode

;; OS/Environment
(load "local-path") ; local-path: hypespec-root & quicklisp-root
(require 'hangul) ; New Korean Input
(load "zenburn-theme") ; color
(load "my-hangul") ; Korean
(prefer-coding-system 'utf-8) ; This should be after loading my-hangul

(load "mousewheel") ; Mousewheel
(load "xterm") ; Xterm & modeline
(load "my-parenthesis") ; paredit, match-paren, and mic-paren
(require 'darkroom-mode)
;(require 'iswitchb) ; enhanced C-x b
;(iswitchb-default-keybindings)
;(load "x11-setting") ; X11 font
;(iswitchb-mode)
;(require 'tramp)
;(require 'recentf)
;(recentf-mode 1)
;(load "sunrise-commander")
;(fset 'yes-or-no-p 'y-or-n-p)
;(add-to-list 'load-path "~/emacs/emacs-helm")
;(require 'helm-config)
(setq dired-listing-switches "-al --time-style iso")
(setq w3m-use-cookies t)

;; Language
(load "c")
(load "my-haskell")
(load "my-python")
(load "my-rust")
;(load "ocaml")
;(load "go")
;(load "j")
;(load "erlang")
;(load "lisp")
;(load "parenscript")
;(load (expand-file-name (concat quicklisp-root "slime-helper.el")))
;(load "my-web")
(add-hook 'perl-mode-hook
	  (lambda ()
	    (local-set-key (kbd "C-h f") 'cperl-perldoc)))

;; vc-delete
(load "vc-delete")

;; Misc Setting
(setq tramp-default-method "scp")
(setq lpr-command "vi"
      lpr-sqitches '("/p")
      printer-name nil)
(setq browse-url-browser-function 'w3m-browse-url
      w3m-pop-up-windows t
      w3m-pop-up-frames t
;      common-lisp-hyperspec-root "/usr/share/doc/hyperspec-7.0/HyperSpec/"
      special-display-buffer-names (cons "*w3m*" special-display-buffer-names))
(setq message-log-max 2048)
(setq gnus-select-method '(nntp "news.kornet.net")
      imap-ssl-program "/usr/bin/openssl s_client -ssl3 -connect %s:%p"
      gnus-secondary-select-methods '((nnimap "ns.aratech.co.kr"
				       (nnimap-address "127.0.0.1")
					;; (nnimap-stream tls)
				       (nnimap-list-pattern ("INBOX")))))
;(set-fontset-font "fontset-default" '(#x1100 . #xffdc) '("Malgun Gothic" . "unicode-bmp"))
;(set-fontset-font "fontset-default" '(#xe0bc . #xf66e) '("New Gulim" . "unicode-bmp"))
;; Local Setting
(defun linux-mars () ; work envirnment
  "work environment ts-x"
  (interactive)
  (set-default 'compile-command "(cd ~/ts-x/cxan; LANG=C make -j8)")
  (visit-tags-table "~/ts-x"))

(defun linux-jupiter () ; work envirnment
  "work environment kraken"
  (interactive)
  (set-default 'compile-command "(cd ~/hoskel; LANG=C make -j8)")
  (visit-tags-table "~/hoskel/TAGS")
)

(defun linux-cwyang () ; work envirnment
  "work environment kraken"
  (interactive)
  (set-default 'compile-command "(cd ~/hoskel; LANG=C make -j8)")
  (visit-tags-table "~/hoskel/TAGS")
)

(defun wsl-local ()
  "Windows Subsystem of Linux"
  (custom-set-variables '(haskell-process-type (quote ghci)))
  (setq haskell-process-args-ghci '())
  )
  
(defun windows-local ()
  "windows environement"
  (require 'w32-fullscreen)
  (global-set-key (quote [M-return]) 'w32-fullscreen)
  (global-set-key [C-kanji] (quote toggle-korean-input-method))
  (setq browse-url-browser-function 'browse-url-default-windows-browser)
  )

(defun linux-local ()
  "linux environment, official work mode"
;  (require 'w3m-load)
  (setq lpr-command "gtklp")
  (j1))

(defun osx-local ()
  "macbook environment"
;  (global-set-key (quote [M-return]) 'ns-toggle-fullscreen)
  (tool-bar-mode -1) ; go away toolbar
  (global-set-key (quote [M-return]) 'toggle-frame-fullscreen)
  (setq browse-url-browser-function 'browse-url-generic
	common-lisp-hyperspec-root "/Users/cwyang/hyperspec7.0/HyperSpec/"  
  )
  (setq browse-url-generic-program
	(if (file-exists-p "/usr/bin/open")
	    "/usr/bin/open"))
  (add-hook 'python-mode-hook
     #'(lambda () (pyvenv-workon "py3.7")))
  
  (setq dired-listing-switches "-al")
  (setenv "LC_ALL" "ko_KR.UTF-8")
  (setq insert-directory-program "gls" dired-use-ls-dired t)
  (when (member "Monaco" (font-family-list))
    (add-to-list 'initial-frame-alist '(font . "Monaco-14"))
    (add-to-list 'default-frame-alist '(font . "Monaco-14")))
  (set-fontset-font t 'symbol (font-spec :family "Apple Symbols") nil 'prepend)
  (set-fontset-font t 'symbol (font-spec :family "Apple Color Emoji") nil 'prepend)  
  (setq mac-option-modifier 'ctrl)
  (setq mac-command-modifier 'meta))

(defun undefined-local ()
  "environment cannot be determined"
  (interactive)
  (message  "environment cannot be determined"))

(cond ((or (string-prefix-p "BREEZE" system-name t)
	   (string-prefix-p "YLINUX" system-name t)) ;my WSL machine
       (wsl-local))
      ((string= system-type "darwin")
       (osx-local))
      ((string-prefix-p "mars" system-name t)
       (linux-mars))
      ((string-prefix-p "jupiter" system-name t)
       (linux-jupiter))
      ((string-prefix-p "cwyang" system-name t)
       (linux-cwyang))
      ((string= system-type "windows-nt")
       (windows-local))
      ((string= system-type "gnu/linux")
       (linux-local))
      (t (undefined-local)))
system-name
;; Zenburn!
;(when (window-system)(load-theme 'zenburn))
(load-theme 'zenburn)
(redraw-frame (selected-frame))
;(set-default-font "Terminus 12")
(set-terminal-coding-system 'utf-8)
;(message "Loading emacs.el... done")

(custom-set-faces
 ;; custom-set-faces was added by Custom.
 ;; If you edit it by hand, you could mess it up, so be careful.
 ;; Your init file should contain only one such instance.
 ;; If there is more than one, they won't work right.
 )

; 80-column whitespace mode
(setq column-number-mode t)
(setq-default whitespace-line-column 80 whitespace-style '(face lines-tail))
(add-hook 'prog-mode-hook #'whitespace-mode)
;(setq-default fill-column 80)
(setq column-number-mode t)

;(set-face-attribute 'region nil :background "#8f8f8f" :foreground "#2b2b2b")

;; Global Hotkey
(global-set-key [f6] 'darkroom-mode)
(global-set-key [f9]  (read-kbd-macro "C-u M-."))
(global-set-key [f12] (read-kbd-macro "C-x o"))
(global-set-key (kbd "M-C") 'compile)
(global-set-key (quote [C-up]) (quote scroll-down))
(global-set-key (quote [C-down]) (quote scroll-up))
(global-set-key (quote [67108896]) (quote toggle-korean-input-method))
(define-key global-map "\M-*" 'pop-tag-mark)

(add-to-list 'auto-mode-alist '("\\.cnf\\'" . conf-mode))
